{%- extends "base.html" %}

{% import "bootstrap/utils.html" as utils %}


{% block content %}
<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<div class="jumbotron">
				<h1>
					About us
				</h1>
				<p>We are Magnum Opus!!!</p>
			</div>
		</div>
	</div>
	<div class="row clearfix">
		<div class="col-md-4 column">
			 <address> <strong>Libo Zhuo</strong><br /> Student ID: Z5135287<br /> E-mail: Z5135287@student.unsw.edu.au<br /> </address>
		</div>
		<div class="col-md-4 column">
			 <address> <strong>Charles Xiao</strong><br /> Student ID: Z5151559<br /> E-mail: Z5151559@student.unsw.edu.au<br /> </address>
		</div>
		<div class="col-md-4 column">
			 <address> <strong>Yun Lu</strong><br /> Student ID: Z5139037<br /> E-mail: Z5139037@student.unsw.edu.au<br /> </address>
		</div>
	</div>
</div>

{%- endblock %}
