{%- extends "bootstrap/base.html" %}


{% block title %}Gloabal Warming{% endblock %}


{% import "bootstrap/fixes.html" as fixes %}

{# Then, inside the head block, we apply these. To not replace the header,
   ``super()`` is used: #}
{% block head %}
    {{super()}}
        <link
        href="https://cdn.pydata.org/bokeh/release/bokeh-0.12.16.min.css"
        rel="stylesheet" type="text/css">

        <script src="https://cdn.pydata.org/bokeh/release/bokeh-0.12.16.min.js"></script>
        <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.2.0/css/bootstrap.min.css">
{#- Docs: http://pythonhosted.org/Flask-Bootstrap/macros.html#fixes
   The sample application already contains the required static files. #}
{{fixes.ie8()}}
{%- endblock %}


{% block styles -%}
    {{super()}}
    <link rel="stylesheet" type="text/css"
          href="{{url_for('static', filename='mashup.css')}}">
{% endblock %}

{% block navbar %}
<div class="container">
	<div class="row clearfix">
        <div class="col-md-12 column">
            {{nav.frontend_top.render()}}
        </div>
    </div>
</div>
{% endblock %}
