{# This simple template derives from ``base.html``. See ``base.html`` for
   more information about template inheritance. #}
{%- extends "base.html" %}

{# Loads some of the macros included with Flask-Bootstrap. We are using the
   utils module here to automatically render Flask's flashed messages in a
   bootstrap friendly manner #}
{% import "bootstrap/utils.html" as utils %}


{# Inside the ``content`` is where you should place most of your own stuff.
   This will keep scripts at the page end and a navbar you add on later
   intact. #}

{% block content %}
<div class="container" xmlns="http://www.w3.org/1999/html">
  {%- with messages = get_flashed_messages(with_categories=True) %}
  {%- if messages %}
      <div class="row clearfix">
		<div class="col-md-12 column">
        {{utils.flashed_messages(messages)}}
        </div>
      </div>
  {%- endif %}
  {%- endwith %}
			<div class="jumbotron">
				<h1>
					Who get involved in Global Warming?
				</h1>
				<p>
					Global warming, also referred to as climate change, is the observed century-scale rise in the average temperature of the Earth's climate system, and its related effects.
				</p>
				<p>
					 <a class="btn btn-primary btn-large" href="https://en.wikipedia.org/wiki/Global_warming">Learn more</a>
				</p>
			</div>
			<div class="panel-group" id="panel-178849">
				<div class="panel panel-default">
					<div class="panel-heading">
						 <a class="panel-title" data-toggle="collapse" data-parent="#panel-178849" href="#panel-element-232330">Searching by Region</a>
					</div>
					<div id="panel-element-232330" class="panel-collapse collapse in">
						<div class="panel-body">
                            <div class="panel-group" id = "panel-178850">
				                <div class="panel panel-default">
					                <div class="panel-heading">
						                <a class="panel-title" data-toggle="collapse" data-parent="#panel-178850" href="#panel-element-232331">South Asia</a>
                                    </div>
                                    <div id="panel-element-232331" class="panel-collapse collapse">
                                        <div class="panel-body">

											<a href="http://127.0.0.1:5000/admin/plotting/bangladesh">Bangladesh</a >&nbsp;&nbsp;&nbsp;&nbsp;
											<a href="http://127.0.0.1:5000/admin/plotting/bhutan">Bhutan</a >&nbsp;&nbsp;&nbsp;&nbsp;
											<a href="http://127.0.0.1:5000/admin/plotting/india">India</a >&nbsp;&nbsp;&nbsp;&nbsp;
											<a href="http://127.0.0.1:5000/admin/plotting/nepal">Nepal</a >&nbsp;&nbsp;&nbsp;&nbsp;
											<a href="http://127.0.0.1:5000/admin/plotting/pakistan">Pakistan</a >&nbsp;&nbsp;&nbsp;&nbsp;
											<a href="http://127.0.0.1:5000/admin/plotting/sri_lanka">Sri Lanka</a >
											<br/><br/>
											<a class="btn btn-primary btn-sm" href="http://127.0.0.1:5000/admin/plotting_region/South_Asia">ALL</a >

										</div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
					                <div class="panel-heading">
						                <a class="panel-title" data-toggle="collapse" data-parent="#panel-178850" href="#panel-element-232332">Europe & Central Asia</a>
                                    </div>
                                    <div id="panel-element-232332" class="panel-collapse collapse">
                                        <div class="panel-body">

											<a href="http://127.0.0.1:5000/admin/plotting/albania">Albania</a >&nbsp;&nbsp;&nbsp;&nbsp;
											<a href="http://127.0.0.1:5000/admin/plotting/andorra">Andorra</a >&nbsp;&nbsp;&nbsp;&nbsp;
											<a href="http://127.0.0.1:5000/admin/plotting/armenia">Armenia</a >&nbsp;&nbsp;&nbsp;&nbsp;
											<a href="http://127.0.0.1:5000/admin/plotting/austria">Austria</a >&nbsp;&nbsp;&nbsp;&nbsp;
											<a href="http://127.0.0.1:5000/admin/plotting/azerbaijan">Azerbaijan</a >&nbsp;&nbsp;&nbsp;&nbsp;
											<a href="http://127.0.0.1:5000/admin/plotting/belarus">Belarus</a >&nbsp;&nbsp;&nbsp;&nbsp;
											<a href="http://127.0.0.1:5000/admin/plotting/belgium">Belgium</a >&nbsp;&nbsp;&nbsp;&nbsp;
											<a href="http://127.0.0.1:5000/admin/plotting/bulgaria">Bulgaria</a >&nbsp;&nbsp;&nbsp;&nbsp;
											<a href="http://127.0.0.1:5000/admin/plotting/cyprus">Cyprus</a >&nbsp;&nbsp;&nbsp;&nbsp;
											<a href="http://127.0.0.1:5000/admin/plotting/czech_republic">Czech Republic</a >&nbsp;&nbsp;&nbsp;&nbsp;
											<a href="http://127.0.0.1:5000/admin/plotting/denmark">Denmark</a >&nbsp;&nbsp;&nbsp;&nbsp;
											<a href="http://127.0.0.1:5000/admin/plotting/finland">Finland</a >&nbsp;&nbsp;&nbsp;&nbsp;
											<a href="http://127.0.0.1:5000/admin/plotting/france">France</a >&nbsp;&nbsp;&nbsp;&nbsp;
											<a href="http://127.0.0.1:5000/admin/plotting/georgia">Georgia</a >&nbsp;&nbsp;&nbsp;&nbsp;
											<a href="http://127.0.0.1:5000/admin/plotting/germany">Germany</a >&nbsp;&nbsp;&nbsp;&nbsp;
											<a href="http://127.0.0.1:5000/admin/plotting/greece">Greece</a >&nbsp;&nbsp;&nbsp;&nbsp;
											<a href="http://127.0.0.1:5000/admin/plotting/iceland">Iceland</a >&nbsp;&nbsp;&nbsp;&nbsp;
											<a href="http://127.0.0.1:5000/admin/plotting/ireland">Ireland</a >&nbsp;&nbsp;&nbsp;&nbsp;
											<a href="http://127.0.0.1:5000/admin/plotting/italy">Italy</a >&nbsp;&nbsp;&nbsp;&nbsp;
											<a href="http://127.0.0.1:5000/admin/plotting/kazakhstan">Kazakhstan</a >&nbsp;&nbsp;&nbsp;&nbsp;
											<a href="http://127.0.0.1:5000/admin/plotting/luxembourg">Luxembourg</a >&nbsp;&nbsp;&nbsp;&nbsp;
											<a href="http://127.0.0.1:5000/admin/plotting/netherlands">Netherlands</a >&nbsp;&nbsp;&nbsp;&nbsp;
											<a href="http://127.0.0.1:5000/admin/plotting/norway">Norway</a >&nbsp;&nbsp;&nbsp;&nbsp;
											<a href="http://127.0.0.1:5000/admin/plotting/poland">Poland</a >&nbsp;&nbsp;&nbsp;&nbsp;
											<a href="http://127.0.0.1:5000/admin/plotting/portugal">Portugal</a >&nbsp;&nbsp;&nbsp;&nbsp;
											<a href="http://127.0.0.1:5000/admin/plotting/romania">Romania</a >&nbsp;&nbsp;&nbsp;&nbsp;
											<a href="http://127.0.0.1:5000/admin/plotting/russian_federation">Russian Federation</a >&nbsp;&nbsp;&nbsp;&nbsp;
											<a href="http://127.0.0.1:5000/admin/plotting/spain">Spain</a >&nbsp;&nbsp;&nbsp;&nbsp;
											<a href="http://127.0.0.1:5000/admin/plotting/sweden">Sweden</a >&nbsp;&nbsp;&nbsp;&nbsp;
											<a href="http://127.0.0.1:5000/admin/plotting/switzerland">Switzerland</a >&nbsp;&nbsp;&nbsp;&nbsp;
											<a href="http://127.0.0.1:5000/admin/plotting/tajikistan">Tajikistan</a >&nbsp;&nbsp;&nbsp;&nbsp;
											<a href="http://127.0.0.1:5000/admin/plotting/turkey">Turkey</a >&nbsp;&nbsp;&nbsp;&nbsp;
											<a href="http://127.0.0.1:5000/admin/plotting/turkmenistan">Turkmenistan</a >&nbsp;&nbsp;&nbsp;&nbsp;
											<a href="http://127.0.0.1:5000/admin/plotting/ukraine">Ukraine</a >&nbsp;&nbsp;&nbsp;&nbsp;
											<a href="http://127.0.0.1:5000/admin/plotting/united_kingdom">United Kingdom</a >&nbsp;&nbsp;&nbsp;&nbsp;
											<a href="http://127.0.0.1:5000/admin/plotting/uzbekistan">Uzbekistan</a >&nbsp;&nbsp;&nbsp;&nbsp;
											<br/><br/>
											<a class="btn btn-primary btn-sm" href="http://127.0.0.1:5000/admin/plotting_region/Europe_&_Central_Asia">ALL</a >

										</div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
					                <div class="panel-heading">
						                <a class="panel-title" data-toggle="collapse" data-parent="#panel-178850" href="#panel-element-232333">Middle East & North Africa</a>
                                    </div>
                                    <div id="panel-element-232333" class="panel-collapse collapse">
                                        <div class="panel-body">

											<a href="http://127.0.0.1:5000/admin/plotting/algeria">Algeria</a >&nbsp;&nbsp;&nbsp;&nbsp;
											<a href="http://127.0.0.1:5000/admin/plotting/bahrain">Bahrain</a >&nbsp;&nbsp;&nbsp;&nbsp;
											<a href="http://127.0.0.1:5000/admin/plotting/djibouti">Djibouti</a >&nbsp;&nbsp;&nbsp;&nbsp;
											<a href="http://127.0.0.1:5000/admin/plotting/iraq">Iraq</a >&nbsp;&nbsp;&nbsp;&nbsp;
											<a href="http://127.0.0.1:5000/admin/plotting/israel">Israel</a >&nbsp;&nbsp;&nbsp;&nbsp;
											<a href="http://127.0.0.1:5000/admin/plotting/jordan">Jordan</a >&nbsp;&nbsp;&nbsp;&nbsp;
											<a href="http://127.0.0.1:5000/admin/plotting/lebanon">Lebanon</a >&nbsp;&nbsp;&nbsp;&nbsp;
											<a href="http://127.0.0.1:5000/admin/plotting/malta">Malta</a >&nbsp;&nbsp;&nbsp;&nbsp;
											<a href="http://127.0.0.1:5000/admin/plotting/morocco">Morocco</a >&nbsp;&nbsp;&nbsp;&nbsp;
											<a href="http://127.0.0.1:5000/admin/plotting/oman">Oman</a >&nbsp;&nbsp;&nbsp;&nbsp;
											<a href="http://127.0.0.1:5000/admin/plotting/saudi_arabia">Saudi Arabia</a >&nbsp;&nbsp;&nbsp;&nbsp;
											<a href="http://127.0.0.1:5000/admin/plotting/tunisia">Tunisia</a >&nbsp;&nbsp;&nbsp;&nbsp;
											<a href="http://127.0.0.1:5000/admin/plotting/united_arab_emirates">United Arab Emirates</a >&nbsp;&nbsp;&nbsp;&nbsp;
											<br/><br/>
											<a class="btn btn-primary btn-sm" href="http://127.0.0.1:5000/admin/plotting_region/Middle_East_&_North_Africa">ALL</a >

										</div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
					                <div class="panel-heading">
						                <a class="panel-title" data-toggle="collapse" data-parent="#panel-178850" href="#panel-element-232334">East Asia & Pacific</a>
                                    </div>
                                    <div id="panel-element-232334" class="panel-collapse collapse">
                                        <div class="panel-body">

											<a href="http://127.0.0.1:5000/admin/plotting/australia">Australia</a >&nbsp;&nbsp;&nbsp;&nbsp;
											<a href="http://127.0.0.1:5000/admin/plotting/brunei_darussalam">Brunei Darussalam</a >&nbsp;&nbsp;&nbsp;&nbsp;
											<a href="http://127.0.0.1:5000/admin/plotting/china">China</a >&nbsp;&nbsp;&nbsp;&nbsp;
											<a href="http://127.0.0.1:5000/admin/plotting/fiji">Fiji</a >&nbsp;&nbsp;&nbsp;&nbsp;
											<a href="http://127.0.0.1:5000/admin/plotting/indonesia">Indonesia</a >&nbsp;&nbsp;&nbsp;&nbsp;
											<a href="http://127.0.0.1:5000/admin/plotting/japan">Japan</a >&nbsp;&nbsp;&nbsp;&nbsp;
											<a href="http://127.0.0.1:5000/admin/plotting/kiribati">Kiribati</a >&nbsp;&nbsp;&nbsp;&nbsp;
											<a href="http://127.0.0.1:5000/admin/plotting/malaysia">Malaysia</a >&nbsp;&nbsp;&nbsp;&nbsp;
											<a href="http://127.0.0.1:5000/admin/plotting/mongolia">Mongolia</a >&nbsp;&nbsp;&nbsp;&nbsp;
											<a href="http://127.0.0.1:5000/admin/plotting/myanmar">Myanmar</a >&nbsp;&nbsp;&nbsp;&nbsp;
											<a href="http://127.0.0.1:5000/admin/plotting/new_zealand">New Zealand</a >&nbsp;&nbsp;&nbsp;&nbsp;
											<a href="http://127.0.0.1:5000/admin/plotting/papua_new_guinea">Papua New Guinea</a >&nbsp;&nbsp;&nbsp;&nbsp;
											<a href="http://127.0.0.1:5000/admin/plotting/philippines">Philippines</a >&nbsp;&nbsp;&nbsp;&nbsp;
											<a href="http://127.0.0.1:5000/admin/plotting/samoa">Samoa</a >&nbsp;&nbsp;&nbsp;&nbsp;
											<a href="http://127.0.0.1:5000/admin/plotting/singapore">Singapore</a >&nbsp;&nbsp;&nbsp;&nbsp;
											<a href="http://127.0.0.1:5000/admin/plotting/solomon_islands">Solomon Islands</a >&nbsp;&nbsp;&nbsp;&nbsp;
											<a href="http://127.0.0.1:5000/admin/plotting/thailand">Thailand</a >&nbsp;&nbsp;&nbsp;&nbsp;
											<a href="http://127.0.0.1:5000/admin/plotting/tonga">Tonga</a >&nbsp;&nbsp;&nbsp;&nbsp;
											<a href="http://127.0.0.1:5000/admin/plotting/vanuatu">Vanuatu</a >&nbsp;&nbsp;&nbsp;&nbsp;
											<br/><br/>
											<a class="btn btn-primary btn-sm" href="http://127.0.0.1:5000/admin/plotting_region/East_Asia_&_Pacific">ALL</a >

										</div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
					                <div class="panel-heading">
						                <a class="panel-title" data-toggle="collapse" data-parent="#panel-178850" href="#panel-element-232335">Sub-Saharan Africa</a>
                                    </div>
                                    <div id="panel-element-232335" class="panel-collapse collapse">
                                        <div class="panel-body">

											<a href="http://127.0.0.1:5000/admin/plotting/angola">Angola</a >&nbsp;&nbsp;&nbsp;&nbsp;
											<a href="http://127.0.0.1:5000/admin/plotting/benin">Benin</a >&nbsp;&nbsp;&nbsp;&nbsp;
											<a href="http://127.0.0.1:5000/admin/plotting/botswana">Botswana</a >&nbsp;&nbsp;&nbsp;&nbsp;
											<a href="http://127.0.0.1:5000/admin/plotting/burkina_faso">Burkina Faso</a >&nbsp;&nbsp;&nbsp;&nbsp;
											<a href="http://127.0.0.1:5000/admin/plotting/burundi">Burundi</a >&nbsp;&nbsp;&nbsp;&nbsp;
											<a href="http://127.0.0.1:5000/admin/plotting/cabo_verde">Cabo Verde</a >&nbsp;&nbsp;&nbsp;&nbsp;
											<a href="http://127.0.0.1:5000/admin/plotting/cameroon">Cameroon</a >&nbsp;&nbsp;&nbsp;&nbsp;
											<a href="http://127.0.0.1:5000/admin/plotting/central_african_republic">Central African Republic</a >&nbsp;&nbsp;&nbsp;&nbsp;
											<a href="http://127.0.0.1:5000/admin/plotting/chad">Chad</a >&nbsp;&nbsp;&nbsp;&nbsp;
											<a href="http://127.0.0.1:5000/admin/plotting/comoros">Comoros</a >&nbsp;&nbsp;&nbsp;&nbsp;
											<a href="http://127.0.0.1:5000/admin/plotting/equatorial_guinea">Equatorial Guinea</a >&nbsp;&nbsp;&nbsp;&nbsp;
											<a href="http://127.0.0.1:5000/admin/plotting/ethiopia">Ethiopia</a >&nbsp;&nbsp;&nbsp;&nbsp;
											<a href="http://127.0.0.1:5000/admin/plotting/gabon">Gabon</a >&nbsp;&nbsp;&nbsp;&nbsp;
											<a href="http://127.0.0.1:5000/admin/plotting/ghana">Ghana</a >&nbsp;&nbsp;&nbsp;&nbsp;
											<a href="http://127.0.0.1:5000/admin/plotting/guinea">Guinea</a >&nbsp;&nbsp;&nbsp;&nbsp;
											<a href="http://127.0.0.1:5000/admin/plotting/guinea-bissau">Guinea-Bissau</a >&nbsp;&nbsp;&nbsp;&nbsp;
											<a href="http://127.0.0.1:5000/admin/plotting/kenya">Kenya</a >&nbsp;&nbsp;&nbsp;&nbsp;
											<a href="http://127.0.0.1:5000/admin/plotting/lesotho">Lesotho</a >&nbsp;&nbsp;&nbsp;&nbsp;
											<a href="http://127.0.0.1:5000/admin/plotting/liberia">Liberia</a >&nbsp;&nbsp;&nbsp;&nbsp;
											<a href="http://127.0.0.1:5000/admin/plotting/madagascar">Madagascar</a >&nbsp;&nbsp;&nbsp;&nbsp;
											<a href="http://127.0.0.1:5000/admin/plotting/malawi">Malawi</a >&nbsp;&nbsp;&nbsp;&nbsp;
											<a href="http://127.0.0.1:5000/admin/plotting/mali">Mali</a >&nbsp;&nbsp;&nbsp;&nbsp;
											<a href="http://127.0.0.1:5000/admin/plotting/mauritania">Mauritania</a >&nbsp;&nbsp;&nbsp;&nbsp;
											<a href="http://127.0.0.1:5000/admin/plotting/mauritius">Mauritius</a >&nbsp;&nbsp;&nbsp;&nbsp;
											<a href="http://127.0.0.1:5000/admin/plotting/mozambique">Mozambique</a >&nbsp;&nbsp;&nbsp;&nbsp;
											<a href="http://127.0.0.1:5000/admin/plotting/namibia">Namibia</a >&nbsp;&nbsp;&nbsp;&nbsp;
											<a href="http://127.0.0.1:5000/admin/plotting/niger">Niger</a >&nbsp;&nbsp;&nbsp;&nbsp;
											<a href="http://127.0.0.1:5000/admin/plotting/nigeria">Nigeria</a >&nbsp;&nbsp;&nbsp;&nbsp;
											<a href="http://127.0.0.1:5000/admin/plotting/rwanda">Rwanda</a >&nbsp;&nbsp;&nbsp;&nbsp;
											<a href="http://127.0.0.1:5000/admin/plotting/senegal">Senegal</a >&nbsp;&nbsp;&nbsp;&nbsp;
											<a href="http://127.0.0.1:5000/admin/plotting/seychelles">Seychelles</a >&nbsp;&nbsp;&nbsp;&nbsp;
											<a href="http://127.0.0.1:5000/admin/plotting/sierra_leone">Sierra Leone</a >&nbsp;&nbsp;&nbsp;&nbsp;
											<a href="http://127.0.0.1:5000/admin/plotting/south_africa">South Africa</a >&nbsp;&nbsp;&nbsp;&nbsp;
											<a href="http://127.0.0.1:5000/admin/plotting/sudan">Sudan</a >&nbsp;&nbsp;&nbsp;&nbsp;
											<a href="http://127.0.0.1:5000/admin/plotting/swaziland">Swaziland</a >&nbsp;&nbsp;&nbsp;&nbsp;
											<a href="http://127.0.0.1:5000/admin/plotting/togo">Togo</a >&nbsp;&nbsp;&nbsp;&nbsp;
											<a href="http://127.0.0.1:5000/admin/plotting/uganda">Uganda</a >&nbsp;&nbsp;&nbsp;&nbsp;
											<a href="http://127.0.0.1:5000/admin/plotting/zambia">Zambia</a >&nbsp;&nbsp;&nbsp;&nbsp;
											<a href="http://127.0.0.1:5000/admin/plotting/zimbabwe">Zimbabwe</a >&nbsp;&nbsp;&nbsp;&nbsp;
											<br/><br/>
											<a class="btn btn-primary btn-sm" href="http://127.0.0.1:5000/admin/plotting_region/Sub-Saharan_Africa">ALL</a>

										</div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
					                <div class="panel-heading">
						                <a class="panel-title" data-toggle="collapse" data-parent="#panel-178850" href="#panel-element-232336">Latin America & Caribbean</a>
                                    </div>
                                    <div id="panel-element-232336" class="panel-collapse collapse">
                                        <div class="panel-body">

											<a href="http://127.0.0.1:5000/admin/plotting/antigua_and_barbuda">Antigua and Barbuda</a >&nbsp;&nbsp;&nbsp;&nbsp;
											<a href="http://127.0.0.1:5000/admin/plotting/argentina">Argentina</a >&nbsp;&nbsp;&nbsp;&nbsp;
											<a href="http://127.0.0.1:5000/admin/plotting/barbados">Barbados</a >&nbsp;&nbsp;&nbsp;&nbsp;
											<a href="http://127.0.0.1:5000/admin/plotting/belize">Belize</a >&nbsp;&nbsp;&nbsp;&nbsp;
											<a href="http://127.0.0.1:5000/admin/plotting/brazil">Brazil</a >&nbsp;&nbsp;&nbsp;&nbsp;
											<a href="http://127.0.0.1:5000/admin/plotting/chile">Chile</a >&nbsp;&nbsp;&nbsp;&nbsp;
											<a href="http://127.0.0.1:5000/admin/plotting/colombia">Colombia</a >&nbsp;&nbsp;&nbsp;&nbsp;
											<a href="http://127.0.0.1:5000/admin/plotting/costa_rica">Costa Rica</a >&nbsp;&nbsp;&nbsp;&nbsp;
											<a href="http://127.0.0.1:5000/admin/plotting/cuba">Cuba</a >&nbsp;&nbsp;&nbsp;&nbsp;
											<a href="http://127.0.0.1:5000/admin/plotting/dominica">Dominica</a >&nbsp;&nbsp;&nbsp;&nbsp;
											<a href="http://127.0.0.1:5000/admin/plotting/dominican_republic">Dominican Republic</a >&nbsp;&nbsp;&nbsp;&nbsp;
											<a href="http://127.0.0.1:5000/admin/plotting/ecuador">Ecuador</a >&nbsp;&nbsp;&nbsp;&nbsp;
											<a href="http://127.0.0.1:5000/admin/plotting/el_salvador">El Salvador</a >&nbsp;&nbsp;&nbsp;&nbsp;
											<a href="http://127.0.0.1:5000/admin/plotting/grenada">Grenada</a >&nbsp;&nbsp;&nbsp;&nbsp;
											<a href="http://127.0.0.1:5000/admin/plotting/guatemala">Guatemala</a >&nbsp;&nbsp;&nbsp;&nbsp;
											<a href="http://127.0.0.1:5000/admin/plotting/guyana">Guyana</a >&nbsp;&nbsp;&nbsp;&nbsp;
											<a href="http://127.0.0.1:5000/admin/plotting/honduras">Honduras</a >&nbsp;&nbsp;&nbsp;&nbsp;
											<a href="http://127.0.0.1:5000/admin/plotting/jamaica">Jamaica</a >&nbsp;&nbsp;&nbsp;&nbsp;
											<a href="http://127.0.0.1:5000/admin/plotting/mexico">Mexico</a >&nbsp;&nbsp;&nbsp;&nbsp;
											<a href="http://127.0.0.1:5000/admin/plotting/nicaragua">Nicaragua</a >&nbsp;&nbsp;&nbsp;&nbsp;
											<a href="http://127.0.0.1:5000/admin/plotting/panama">Panama</a >&nbsp;&nbsp;&nbsp;&nbsp;
											<a href="http://127.0.0.1:5000/admin/plotting/paraguay">Paraguay</a >&nbsp;&nbsp;&nbsp;&nbsp;
											<a href="http://127.0.0.1:5000/admin/plotting/peru">Peru</a >&nbsp;&nbsp;&nbsp;&nbsp;
											<a href="http://127.0.0.1:5000/admin/plotting/suriname">Suriname</a >&nbsp;&nbsp;&nbsp;&nbsp;
											<a href="http://127.0.0.1:5000/admin/plotting/trinidad_and_tobago">Trinidad and Tobago</a >&nbsp;&nbsp;&nbsp;&nbsp;
											<a href="http://127.0.0.1:5000/admin/plotting/uruguay">Uruguay</a >&nbsp;&nbsp;&nbsp;&nbsp;
											<br/><br/>
											<a class="btn btn-primary btn-sm" href="http://127.0.0.1:5000/admin/plotting_region/Latin_America_&_Caribbean">ALL</a >

										</div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
					                <div class="panel-heading">
						                <a class="panel-title" data-toggle="collapse" data-parent="#panel-178850" href="#panel-element-232337">North America</a>
                                    </div>
                                    <div id="panel-element-232337" class="panel-collapse collapse">
                                        <div class="panel-body">

											<a href="http://127.0.0.1:5000/admin/plotting/canada">Canada</a >&nbsp;&nbsp;&nbsp;&nbsp;
											<a href="http://127.0.0.1:5000/admin/plotting/united_states">United States</a >&nbsp;&nbsp;&nbsp;&nbsp;
											<br/><br/>
											<a class="btn btn-primary btn-sm" href="http://127.0.0.1:5000/admin/plotting_region/North_America">ALL</a >

										</div>
                                    </div>
                                </div>
                            </div>
						</div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading">
						 <a class="panel-title collapsed" data-toggle="collapse" data-parent="#panel-178849" href="#panel-element-184726">Searching by input</a>
					</div>
					<div id="panel-element-184726" class="panel-collapse collapse">
						<div class="panel-body">
							<form method="post" action="http://127.0.0.1:5000/admin/search/">
								<input type="text" placeholder="region or country" name="search">
                            	<input type="submit" value="submit"/>
							</form>
						</div>
					</div>
				</div>
			</div>

	<div class="row clearfix">
		<div class="col-md-12 column">
			<div>
				<div class="alert alert-success alert-dismissable">
					<p>
							The effects of global warming are the environmental and social changes caused (directly or indirectly) by human emissions of greenhouse gases, especially CO2 emission.
						</p>
				</div>
				<blockquote>
					<p>
						Responses to global warming:<br/>
						<small>Mitigation</small>
						<small>Adaptation</small>
						<small>Climate engineering</small>
					</p>
				</blockquote>
		</div>
		</div>
	</div>
</div>
{%- endblock %}
